<div class="table">
	<div class="tr">
		<div class="td centerBoth imgCell">
			<div ng-switch="modalContentType">
				<iframe ng-switch-when="video" width="{{modalContentWidth}}" height="{{modalContentHeight}}" src="{{modalVideoSrc}}"></iframe>
				<a ng-switch-when="link" href="{{modalLinkURL}}" target="_blank"><img src="{{modalContentSrc}}"/></a>
				<span ng-switch-default><img src="{{modalContentSrc}}"/></span>
			</div>
		</div>
	</div>	
	<div class="tr" ng-show="modalCaption">
		<div class="td centerBoth captionCell">
			<div class="caption" ng-hide="modalBodyCopy">{{modalCaption}}</div>
			<div class="modalBody" ng-bind-html="modalBodyCopy" ng-show="modalBodyCopy"></div>
		</div>
	</div>	
</div>