.sectionIcon, .contentIcon {
  display: inline-block;
  border-style: solid;
  border-color: $primaryTextColor;
  text-align: center;
  vertical-align: middle;
  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $primaryAccentColor;
    &.icon-creative {
      background-image: url('../images/Roadshow_MP_Icons_Creative.svg');
      background-size: contain;
    }
    &.icon-avatar {
      background-image: url('../images/Roadshow_MP_Icons_Avatar.svg');
      background-size: contain;
    }
    &.icon-dc {
      background-image: url('../images/Roadshow_MP_Icons_DC.svg');
      background-size: contain;
    }
    &.icon-events {
      background-image: url('../images/Roadshow_MP_Icons_Events.svg');
      background-size: contain;
    }
    &.icon-k20cm {
      background-image: url('../images/Roadshow_MP_Icons_K20CM.svg');
      background-size: contain;
    }
    &.icon-mpp {
      background-image: url('../images/Roadshow_MP_Icons_MPP.svg');
      background-size: contain;
    }
    &.icon-neo {
      background-image: url('../images/Roadshow_MP_Icons_Neo.svg');
      background-size: contain;
    }
    &.icon-org {
      background-image: url('../images/Roadshow_MP_Icons_Org.svg');
      background-size: contain;
    }
    &.icon-pm {
      background-image: url('../images/Roadshow_MP_Icons_PM.svg');
      background-size: contain;
    }
    &.icon-vmg {
      background-image: url('../images/Roadshow_MP_Icons_VMG.svg');
      background-size: contain;
    }
  }
}

.headshotWrapper {
  display: inline-block;
  width: $headshotSize;
  height: $headshotSize;
  border: 1px solid $primaryTextColor;
  border-radius: $headshotSize*0.27;
  padding: 4px;
}
.headshot {
  display: inline-block;
  width: $headshotSize;
  height: $headshotSize;
  border-radius: $headshotSize*0.25;
  overflow: hidden;
  background: url('../images/content/headshot_sprite.png') no-repeat;
  &.christine_curtin {
    background-position: -$headshotSize*0  0px; 
  }                                   
  &.eric_kome {                       
    background-position: -$headshotSize*1  0px; 
  }                                   
  &.esther_podany {                   
    background-position: -$headshotSize*2  0px; 
  }                                   
  &.gary_gnade {                      
    background-position: -$headshotSize*3  0px; 
  }                                   
  &.katie_finney {                    
    background-position: -$headshotSize*4  0px; 
  }                                   
  &.kevin_young {                     
    background-position: -$headshotSize*5  0px; 
  }                                   
  &.michelle_maloof {                 
    background-position: -$headshotSize*6  0px; 
  }
}

