.sectionIcon {
  display: inline-block;
  border-style: solid;
  border-color: $primaryTextColor;
  text-align: center;
  vertical-align: middle;
  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $primaryAccentColor;
    &.icon-creative {
      background-image: url('../images/Roadshow_MP_Icons_Creative.svg');
      background-size: contain;
    }
    &.icon-avatar {
      background-image: url('../images/Roadshow_MP_Icons_Avatar.svg');
      background-size: contain;
    }
    &.icon-dc {
      background-image: url('../images/Roadshow_MP_Icons_DC.svg');
      background-size: contain;
    }
    &.icon-events {
      background-image: url('../images/Roadshow_MP_Icons_Events.svg');
      background-size: contain;
    }
    &.icon-k20cm {
      background-image: url('../images/Roadshow_MP_Icons_K20CM.svg');
      background-size: contain;
    }
    &.icon-mpp {
      background-image: url('../images/Roadshow_MP_Icons_MPP.svg');
      background-size: contain;
    }
    &.icon-neo {
      background-image: url('../images/Roadshow_MP_Icons_Neo.svg');
      background-size: contain;
    }
    &.icon-org {
      background-image: url('../images/Roadshow_MP_Icons_Org.svg');
      background-size: contain;
    }
    &.icon-pm {
      background-image: url('../images/Roadshow_MP_Icons_PM.svg');
      background-size: contain;
    }
    &.icon-vmg {
      background-image: url('../images/Roadshow_MP_Icons_VMG.svg');
      background-size: contain;
    }
  }
}
