/* ======================================
 * impress.js classes 
 * ======================================*/

.step {
  position: relative;
  width: 1000px;
  height: 750px;
  padding: 20px;
  margin: 20px auto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}

/* ======================================
 * Visibility handling 
 * ======================================*/

.impress-enabled .step {
  
  margin: 0;
  opacity: 1;

  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
  
  .slideCover, .slideContent {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    transition:         opacity 1s;
  }
  .sectionTitleSlide {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    transition: opacity 1s;
    .slideCover {
      // opacity: 1;
    }
    .slideContent {
      // opacity: 0;
    }
  }
}

.impress-enabled .step.active {
  pointer-events: auto;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

/* Make all slides visible on overview */
.impress-on-overview .step {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
  cursor: pointer;
}

/* Page class is set to current slide id in event handler */
.slideCover {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  .sectionIcon span {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
  }
}

/* Title level slides are always opaque */
.titleSlideLevel {
  opacity: 1 !important;
  .generatedSlide {
    opacity: 1;
    .slideCover {
      opacity: 1;
    }
    .slideContent {
      opacity: 0;
    }
  }
  // Icon rotation
  .slideCover {
    .sectionIcon span {
      -webkit-transform:  rotate(-90deg); /* Opera, Chrome, and Safari */
      -moz-transform:     rotate(-90deg); /* IE 9 */
      transform:          rotate(-90deg);
    }
  }
}
.generatedTitleSlideLevel {
  .step.past, .step.future {
    opacity: 0.3;
  }
}
.generatedSubSlideLevel {
  .sectionTitleSlide {
  }
}

// Dynamic opacity classes
.transparent {
  opacity: 0 !important;
}
.opaque {
  opacity: 1 !important;
}

/* ======================================
 * Custom classes 
 * ======================================*/

.table {
  display: table;
  border-collapse: collapse;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

.centerBoth {
  text-align: center;
  vertical-align: middle;
}

.slide {
  display: block;
  border-collapse: collapse;
  padding: 0;
  // border: 4px solid red;
  border-radius: 0px;
  // box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  // text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  .slideWrapper {
    display: block;
    width: 100%; 
    height: 100%;
    h1 {
      color: $primaryTextColor;
      line-height: 100%;
    }
    h2 {
      margin-top: 30px;
      color: $primaryAccentColor;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 0px;
    }
    .slideCover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      // background-color: $bgColor1;
    }
    .slideContent {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      padding: 1em;
      .bodyCopy {
        h1, h2, h3, h4 {
          text-transform: none;
          color: $primaryTextColor;
        }
      }
    }
    
    &.sectionTitleSlide {
      h1 {
        font-size: 62px;
      }
      h2 {
        margin-top: 20px;
        font-size: 35px;
      }
      .table {
        height: 65%;
      }
      .iconColumn {
        width: 180px;
        padding: 100px 20px;
        border-right: 2px solid $primaryAccentColor;
      }
      .contentColumn {
        padding: 80px 0 0 50px;
      }
      .bottomSpacer {
        clear: both;
        width: 100%;
        height: 30%;
      }
      .slideCover {
        .sectionIcon {
          border-width: 12px;
          border-radius: 100px;
          width: 600px;
          height: 600px;
        }
      }
      .slideContent {
        .iconColumn {
          .sectionIcon {
            border-width: 2px;
            border-radius: 32px;
            width: 120px;
            height: 120px;
            
          }
        }
      }
    }
    
    &.sectionSubSlide {
      h1 {
        font-size: 50px;
        text-transform: uppercase;
      }
      h2 {
        margin-top: 30px;
        font-size: 28px;
      }
      .table {
        height: 90%;
      }
      .td {
        vertical-align: top;
      }
      .iconColumn {
        // width: 160px;
        border-right: 3px solid $primaryAccentColor;
        .content {
          padding: 80px 50px;
        }
      }
      .contentColumn {
        width: 100%;
        .content {
          padding: 40px 0 0 50px;
        }
      }
      .slideCover {
        .sectionIcon {
          border-width: 12px;
          border-radius: 100px;
          width: 600px;
          height: 600px;
        }
      }
      .slideContent {
        .iconColumn {
          .sectionIcon {
            border-width: 1.5px;
            border-radius: 17px;
            width: 60px;
            height: 60px;
          }
        }
        .contentColumn {
          width: 650px;
          font-size: 18px;
          font-weight: lighter;
          letter-spacing: 0.05em;
          .subHeader {
            width: 100%;
            border-bottom: 1px solid $primaryAccentColor;
            border-top: 1px solid $primaryAccentColor;
            padding: 20px 0;
            margin: 20px 0;
            font-size: 28px;
            color: $primaryAccentColor;
            text-transform: uppercase;
          }
          p {
            margin-bottom: 1em;
          }
          em {
            color: $primaryAccentColor;
            font-style: italic;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.sectionIcon, .contentIcon, {
  display: inline-block;
  border-style: solid;
  border-color: $primaryTextColor;
  text-align: center;
  vertical-align: middle;
  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $primaryAccentColor;
    &.icon-creative {
      background-image: url('../images/Roadshow_MP_Icons_Creative.svg');
      background-size: contain;
    }
    &.icon-avatar {
      background-image: url('../images/Roadshow_MP_Icons_Avatar.svg');
      background-size: contain;
    }
    &.icon-dc {
      background-image: url('../images/Roadshow_MP_Icons_DC.svg');
      background-size: contain;
    }
    &.icon-events {
      background-image: url('../images/Roadshow_MP_Icons_Events.svg');
      background-size: contain;
    }
    &.icon-k20cm {
      background-image: url('../images/Roadshow_MP_Icons_K20CM.svg');
      background-size: contain;
    }
    &.icon-mpp {
      background-image: url('../images/Roadshow_MP_Icons_MPP.svg');
      background-size: contain;
    }
    &.icon-neo {
      background-image: url('../images/Roadshow_MP_Icons_Neo.svg');
      background-size: contain;
    }
    &.icon-org {
      background-image: url('../images/Roadshow_MP_Icons_Org.svg');
      background-size: contain;
    }
    &.icon-pm {
      background-image: url('../images/Roadshow_MP_Icons_PM.svg');
      background-size: contain;
    }
    &.icon-vmg {
      background-image: url('../images/Roadshow_MP_Icons_VMG.svg');
      background-size: contain;
    }
    &.icon-marcomm {
      background-image: url('../images/Roadshow_MP_Icons_MarketingPrograms.svg');
      background-size: contain;
    }
  }
}

.gridItemWrapper {
  display: inline-block;
  vertical-align: top;
  .gridItemSpacer {
    display: inline-block;
    width: $gridItemSizeLg;
    height: $gridItemSizeLg;
  }
  .gridItemBorder {
    display: inline-block;
    width: $gridItemSizeLg;
    height: $gridItemSizeLg;
    border: 1.75px solid $primaryTextColor;
    border-radius: $gridItemSizeLg*0.29;
    padding: 4px;
    .gridItem {
      display: inline-block;
      width: $gridItemSizeLg;
      height: $gridItemSizeLg;
      border-radius: $gridItemSizeLg*0.25;
      overflow: hidden;
      span, a, img {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: $primaryAccentColor;
        background-size: contain;
      }
      a {
        cursor: pointer;
      }
    }
  }
  .gridItemCaption {
    display: block;
    font-weight: bold;
    width: $gridItemSizeLg;
    padding: 4px;
    clear: both;
    text-align: center;
    font-size: 80%;
    color: $primaryAccentColor;
  }
}

.grid {
  .gridItemWrapper {
    margin: 0 1em 1em 0;
  }
}

.neoLink, .orgChartLink {
  display: block;
  width: $gridItemSizeLg + 16px;
  height: $gridItemSizeLg + 16px;
  margin-top: 2em;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  .contentIcon {
    border-width: 1.5px;
    border-radius: $gridItemSizeLg*0.29;
    width: $gridItemSizeLg;
    height: $gridItemSizeLg;
    margin-bottom: 0.5em;
  }
  span {
    color: $primaryAccentColor;
  }
}

.caption {
  margin-top: 0.5em;
  display: block;
  color: $primaryAccentColor;
}
.subCaption {
  margin-top: 0em;
  font-size: 0.85em;
  font-weight: bold;
  display: block;
  color: $primaryTextColor;
}


/* ======================================
 * Individual slide styles 
 * ======================================*/

#overview { 
  display: none 
}

#mainTitleSlide {
  .content {
    position: absolute;
    top: 35px;
    bottom: 85px;
    border-left: 3px solid $primaryAccentColor;
    left: 45px;
    .innerContent {
      position: absolute;
      height: 250px;
      top: 50%;
      margin-top: -125px;
      left: 45px;
    }
    * {
      margin: 0;
    }
    h1 {
      font-size: 85px;
      color: $primaryTextColor;
      line-height: 100%;
    }
    h2 {
      margin-top: 24px;
      font-size: 36px;
      color: $primaryAccentColor;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 6px;
    }
  }
}

#marcommWhatWeDo {
  border: 3px solid $primaryAccentColor;
  .content {
    height: 300px;
    left: 40px;
    margin-top: -150px;
  }  
}

#marcommWhoWeAre {
  border: 3px solid $primaryAccentColor;
  .content {
    height: 300px;
    left: 40px;
    margin-top: -150px;
  }  
}

.whoWeAreContent {
  .headshotColumn {
    width: $gridItemSizeLg + 20;
    text-align: center;
    .gridItemWrapper {
      .gridItem {
        background: url('../images/content/headshot_sprite.jpg') no-repeat;
        &.christine_curtin {
          background-position: -$gridItemSizeLg*0  0px; 
        }                                   
        &.eric_kome {                       
          background-position: -$gridItemSizeLg*1  0px; 
        }                                   
        &.esther_podany {                   
          background-position: -$gridItemSizeLg*2  0px; 
        }                                   
        &.gary_gnade {                      
          background-position: -$gridItemSizeLg*3  0px; 
        }                                   
        &.katie_finney {                    
          background-position: -$gridItemSizeLg*4  0px; 
        }                                   
        &.kevin_young {                     
          background-position: -$gridItemSizeLg*5  0px; 
        }                                   
        &.michelle_maloof {                 
          background-position: -$gridItemSizeLg*6  0px; 
        }
        &.robin_brophy {                 
          background-position: -$gridItemSizeLg*7  0px; 
        }
      }
    }
  }
  .plusColumn {
    color: $primaryAccentColor;
    font-size: 60px;
    font-weight: 100;
    padding: 25px;
  }
  .directReportsColumn {
    width: ($gridItemSizeSm * 6);
    .directReport {
      display: inline-block;
      margin: 0 8px 8px 0;
      .gridItemWrapper {
        .gridItemSpacer {
          width: $gridItemSizeSm;
          height: $gridItemSizeSm;
        }
        .gridItemBorder {
          display: inline-block;
          width: $gridItemSizeSm;
          height: $gridItemSizeSm;
          border: 1.75px solid $primaryTextColor;
          border-radius: $gridItemSizeSm*0.29;
          padding: 3px;
          .gridItem {
            display: inline-block;
            width: $gridItemSizeSm;
            height: $gridItemSizeSm;
            border-radius: $gridItemSizeSm*0.25;
            overflow: hidden;
            span, a, img {
              display: inline-block;
              width: 100%;
              height: 100%;
              color: $primaryAccentColor;
              background-size: contain;
            }
            a {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// Special case aux classes

.whoWeAreRobin {
  .bodyCopy {
    position: absolute !important;
    top: 440px;
    left: 470px;
    font-size: 26px;
    text-align: center;
  }
}
