$primaryTextColor: #ffffff;
$secondaryTextColor: #aaa;
$primaryAccentColor: #78b761;
$primaryBorderColor: #78b761;
$secondaryBorderColor: #666666;
$bgColor1: rgb(80, 80, 80);
$bgColor2: rgb(40, 40, 40);
$brandingColor: #008b62;

$gridItemSizeLg: 120px;
$gridItemSizeSm: 50px;