@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

/* line 16, ../sass/roadshow.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  border-collapse: collapse;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/roadshow.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/roadshow.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/roadshow.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/roadshow.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/roadshow.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../sass/roadshow.scss */
* {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

/* line 52, ../sass/roadshow.scss */
body {
  min-height: 740px;
  background: #d7d7d7;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#282828), to(#505050));
  background: -webkit-radial-gradient(#505050, #282828);
  background: -moz-radial-gradient(#505050, #282828);
  background: -ms-radial-gradient(#505050, #282828);
  background: -o-radial-gradient(#505050, #282828);
  background: radial-gradient(#505050, #282828);
  background: #282828;
}

/* line 66, ../sass/roadshow.scss */
b, strong {
  font-weight: bold;
}

/* line 67, ../sass/roadshow.scss */
i, em {
  font-style: italic;
}

/* line 69, ../sass/roadshow.scss */
a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255, 255, 255, 0);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
  border-radius: 0.5em;
  border-bottom: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 86, ../sass/roadshow.scss */
a:hover,
a:focus {
  background: rgba(255, 255, 255, 0.25);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}

/* line 92, ../sass/roadshow.scss */
li {
  margin-left: 1.5em;
  list-style-type: square;
}

/* line 97, ../sass/roadshow.scss */
.brandingBar {
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  pointer-events: none;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #008b62;
  background-image: url("../images/pearson-logo-transparent.png"), url("../images/alwayslearning-logo-transparent.png");
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
}

/* line 112, ../sass/roadshow.scss */
.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}

/* line 125, ../sass/roadshow.scss */
.fallback-message p {
  margin-bottom: 10px;
}

/* line 129, ../sass/roadshow.scss */
.impress-supported .fallback-message {
  display: none;
}

/*
  Workaround for bug where content ends up "behind" <body>
*/
/* line 136, ../sass/roadshow.scss */
.impress-enabled {
  pointer-events: none;
}

/* line 137, ../sass/roadshow.scss */
.impress-enabled #impress {
  pointer-events: auto;
}

/* ======================================
 * impress.js classes 
 * ======================================*/
/* line 5, ../sass/_slides.scss */
.step {
  position: relative;
  width: 1000px;
  height: 750px;
  padding: 20px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* ======================================
 * Visibility handling 
 * ======================================*/
/* line 23, ../sass/_slides.scss */
.impress-enabled .step {
  margin: 0;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 34, ../sass/_slides.scss */
.impress-enabled .step .slideCover, .impress-enabled .step .slideContent {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 39, ../sass/_slides.scss */
.impress-enabled .step .sectionTitleSlide {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

/* line 52, ../sass/_slides.scss */
.impress-enabled .step.active {
  pointer-events: auto;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

/* Make all slides visible on overview */
/* line 61, ../sass/_slides.scss */
.impress-on-overview .step {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
  cursor: pointer;
}

/* Page class is set to current slide id in event handler */
/* line 70, ../sass/_slides.scss */
.slideCover {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 74, ../sass/_slides.scss */
.slideCover .sectionIcon span {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

/* Title level slides are always opaque */
/* line 82, ../sass/_slides.scss */
.titleSlideLevel {
  opacity: 1 !important;
}
/* line 84, ../sass/_slides.scss */
.titleSlideLevel .generatedSlide {
  opacity: 1;
}
/* line 86, ../sass/_slides.scss */
.titleSlideLevel .generatedSlide .slideCover {
  opacity: 1;
}
/* line 89, ../sass/_slides.scss */
.titleSlideLevel .generatedSlide .slideContent {
  opacity: 0;
}
/* line 95, ../sass/_slides.scss */
.titleSlideLevel .slideCover .sectionIcon span {
  -webkit-transform: rotate(-90deg);
  /* Opera, Chrome, and Safari */
  -moz-transform: rotate(-90deg);
  /* IE 9 */
  transform: rotate(-90deg);
}

/* line 103, ../sass/_slides.scss */
.generatedTitleSlideLevel .step.past, .generatedTitleSlideLevel .step.future {
  opacity: 0.3;
}

/* line 113, ../sass/_slides.scss */
.transparent {
  opacity: 0 !important;
}

/* line 116, ../sass/_slides.scss */
.opaque {
  opacity: 1 !important;
}

/* ======================================
 * Custom classes 
 * ======================================*/
/* line 124, ../sass/_slides.scss */
.table {
  display: table;
  border-collapse: collapse;
}

/* line 129, ../sass/_slides.scss */
.tr {
  display: table-row;
}

/* line 133, ../sass/_slides.scss */
.td {
  display: table-cell;
}

/* line 137, ../sass/_slides.scss */
.centerBoth {
  text-align: center;
  vertical-align: middle;
}

/* line 142, ../sass/_slides.scss */
.slide {
  display: block;
  border-collapse: collapse;
  padding: 0;
  border-radius: 0px;
}
/* line 150, ../sass/_slides.scss */
.slide .slideWrapper {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 154, ../sass/_slides.scss */
.slide .slideWrapper h1 {
  color: white;
  line-height: 100%;
}
/* line 158, ../sass/_slides.scss */
.slide .slideWrapper h2 {
  margin-top: 30px;
  color: #78b761;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0px;
}
/* line 165, ../sass/_slides.scss */
.slide .slideWrapper .slideCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
/* line 174, ../sass/_slides.scss */
.slide .slideWrapper .slideContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 1em;
}
/* line 185, ../sass/_slides.scss */
.slide .slideWrapper.sectionTitleSlide h1 {
  font-size: 62px;
}
/* line 188, ../sass/_slides.scss */
.slide .slideWrapper.sectionTitleSlide h2 {
  margin-top: 20px;
  font-size: 35px;
}
/* line 192, ../sass/_slides.scss */
.slide .slideWrapper.sectionTitleSlide .table {
  height: 65%;
}
/* line 195, ../sass/_slides.scss */
.slide .slideWrapper.sectionTitleSlide .iconColumn {
  width: 180px;
  padding: 100px 20px;
  border-right: 2px solid #78b761;
}
/* line 200, ../sass/_slides.scss */
.slide .slideWrapper.sectionTitleSlide .contentColumn {
  padding: 80px 0 0 50px;
}
/* line 203, ../sass/_slides.scss */
.slide .slideWrapper.sectionTitleSlide .bottomSpacer {
  clear: both;
  width: 100%;
  height: 30%;
}
/* line 209, ../sass/_slides.scss */
.slide .slideWrapper.sectionTitleSlide .slideCover .sectionIcon {
  border-width: 12px;
  border-radius: 100px;
  width: 600px;
  height: 600px;
}
/* line 218, ../sass/_slides.scss */
.slide .slideWrapper.sectionTitleSlide .slideContent .iconColumn .sectionIcon {
  border-width: 2px;
  border-radius: 32px;
  width: 120px;
  height: 120px;
}
/* line 230, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide h1 {
  font-size: 50px;
  text-transform: uppercase;
}
/* line 234, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide h2 {
  margin-top: 30px;
  font-size: 28px;
}
/* line 238, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .table {
  height: 90%;
}
/* line 241, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .td {
  vertical-align: top;
}
/* line 244, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .iconColumn {
  border-right: 3px solid #78b761;
}
/* line 247, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .iconColumn .content {
  padding: 80px 50px;
}
/* line 251, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .contentColumn {
  width: 100%;
}
/* line 253, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .contentColumn .content {
  padding: 40px 0 0 50px;
}
/* line 258, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .slideCover .sectionIcon {
  border-width: 12px;
  border-radius: 100px;
  width: 600px;
  height: 600px;
}
/* line 267, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .slideContent .iconColumn .sectionIcon {
  border-width: 1.5px;
  border-radius: 17px;
  width: 60px;
  height: 60px;
}
/* line 274, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .slideContent .contentColumn {
  width: 650px;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 0.05em;
}
/* line 279, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .slideContent .contentColumn .subHeader {
  width: 100%;
  border-bottom: 1px solid #78b761;
  border-top: 1px solid #78b761;
  padding: 20px 0;
  margin: 20px 0;
  font-size: 28px;
  color: #78b761;
  text-transform: uppercase;
}
/* line 289, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .slideContent .contentColumn p {
  margin-bottom: 1em;
}
/* line 292, ../sass/_slides.scss */
.slide .slideWrapper.sectionSubSlide .slideContent .contentColumn em {
  color: #78b761;
  font-style: italic;
  font-weight: bold;
}

/* line 303, ../sass/_slides.scss */
.sectionIcon, .contentIcon {
  display: inline-block;
  border-style: solid;
  border-color: white;
  text-align: center;
  vertical-align: middle;
}
/* line 309, ../sass/_slides.scss */
.sectionIcon span, .contentIcon span {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #78b761;
}
/* line 314, ../sass/_slides.scss */
.sectionIcon span.icon-creative, .contentIcon span.icon-creative {
  background-image: url("../images/Roadshow_MP_Icons_Creative.svg");
  background-size: contain;
}
/* line 318, ../sass/_slides.scss */
.sectionIcon span.icon-avatar, .contentIcon span.icon-avatar {
  background-image: url("../images/Roadshow_MP_Icons_Avatar.svg");
  background-size: contain;
}
/* line 322, ../sass/_slides.scss */
.sectionIcon span.icon-dc, .contentIcon span.icon-dc {
  background-image: url("../images/Roadshow_MP_Icons_DC.svg");
  background-size: contain;
}
/* line 326, ../sass/_slides.scss */
.sectionIcon span.icon-events, .contentIcon span.icon-events {
  background-image: url("../images/Roadshow_MP_Icons_Events.svg");
  background-size: contain;
}
/* line 330, ../sass/_slides.scss */
.sectionIcon span.icon-k20cm, .contentIcon span.icon-k20cm {
  background-image: url("../images/Roadshow_MP_Icons_K20CM.svg");
  background-size: contain;
}
/* line 334, ../sass/_slides.scss */
.sectionIcon span.icon-mpp, .contentIcon span.icon-mpp {
  background-image: url("../images/Roadshow_MP_Icons_MPP.svg");
  background-size: contain;
}
/* line 338, ../sass/_slides.scss */
.sectionIcon span.icon-neo, .contentIcon span.icon-neo {
  background-image: url("../images/Roadshow_MP_Icons_Neo.svg");
  background-size: contain;
}
/* line 342, ../sass/_slides.scss */
.sectionIcon span.icon-org, .contentIcon span.icon-org {
  background-image: url("../images/Roadshow_MP_Icons_Org.svg");
  background-size: contain;
}
/* line 346, ../sass/_slides.scss */
.sectionIcon span.icon-pm, .contentIcon span.icon-pm {
  background-image: url("../images/Roadshow_MP_Icons_PM.svg");
  background-size: contain;
}
/* line 350, ../sass/_slides.scss */
.sectionIcon span.icon-vmg, .contentIcon span.icon-vmg {
  background-image: url("../images/Roadshow_MP_Icons_VMG.svg");
  background-size: contain;
}
/* line 354, ../sass/_slides.scss */
.sectionIcon span.icon-marcomm, .contentIcon span.icon-marcomm {
  background-image: url("../images/Roadshow_MP_Icons_MarketingPrograms.svg");
  background-size: contain;
}

/* line 361, ../sass/_slides.scss */
.gridItemWrapper {
  display: inline-block;
  vertical-align: top;
}
/* line 364, ../sass/_slides.scss */
.gridItemWrapper .gridItemSpacer {
  display: inline-block;
  width: 120px;
  height: 120px;
}
/* line 369, ../sass/_slides.scss */
.gridItemWrapper .gridItemBorder {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 1.75px solid white;
  border-radius: 34.8px;
  padding: 4px;
}
/* line 376, ../sass/_slides.scss */
.gridItemWrapper .gridItemBorder .gridItem {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 30px;
  overflow: hidden;
}
/* line 382, ../sass/_slides.scss */
.gridItemWrapper .gridItemBorder .gridItem span, .gridItemWrapper .gridItemBorder .gridItem a, .gridItemWrapper .gridItemBorder .gridItem img {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #78b761;
  background-size: contain;
}
/* line 389, ../sass/_slides.scss */
.gridItemWrapper .gridItemBorder .gridItem a {
  cursor: pointer;
}
/* line 394, ../sass/_slides.scss */
.gridItemWrapper .gridItemCaption {
  display: block;
  font-weight: bold;
  width: 120px;
  padding: 4px;
  clear: both;
  text-align: center;
  font-size: 80%;
  color: #78b761;
}

/* line 407, ../sass/_slides.scss */
.grid .gridItemWrapper {
  margin: 0 1em 1em 0;
}

/* line 412, ../sass/_slides.scss */
.neoLink, .orgChartLink {
  display: block;
  width: 136px;
  height: 136px;
  margin-top: 2em;
  text-align: center;
  padding: 4px;
  cursor: pointer;
}
/* line 420, ../sass/_slides.scss */
.neoLink .contentIcon, .orgChartLink .contentIcon {
  border-width: 1.5px;
  border-radius: 34.8px;
  width: 120px;
  height: 120px;
  margin-bottom: 0.5em;
}
/* line 427, ../sass/_slides.scss */
.neoLink span, .orgChartLink span {
  color: #78b761;
}

/* line 432, ../sass/_slides.scss */
.caption {
  margin-top: 0.5em;
  display: block;
  color: #78b761;
}

/* line 437, ../sass/_slides.scss */
.subCaption {
  margin-top: 0em;
  font-size: 0.85em;
  font-weight: bold;
  display: block;
  color: white;
}

/* ======================================
 * Individual slide styles 
 * ======================================*/
/* line 450, ../sass/_slides.scss */
#overview {
  display: none;
}

/* line 455, ../sass/_slides.scss */
#mainTitleSlide .content {
  position: absolute;
  top: 35px;
  bottom: 85px;
  border-left: 3px solid #78b761;
  left: 45px;
}
/* line 461, ../sass/_slides.scss */
#mainTitleSlide .content .innerContent {
  position: absolute;
  height: 250px;
  top: 50%;
  margin-top: -125px;
  left: 45px;
}
/* line 468, ../sass/_slides.scss */
#mainTitleSlide .content * {
  margin: 0;
}
/* line 471, ../sass/_slides.scss */
#mainTitleSlide .content h1 {
  font-size: 85px;
  color: white;
  line-height: 100%;
}
/* line 476, ../sass/_slides.scss */
#mainTitleSlide .content h2 {
  margin-top: 24px;
  font-size: 36px;
  color: #78b761;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 6px;
}

/* line 487, ../sass/_slides.scss */
#marcommWhatWeDo {
  border: 3px solid #78b761;
}
/* line 489, ../sass/_slides.scss */
#marcommWhatWeDo .content {
  height: 300px;
  left: 40px;
  margin-top: -150px;
}

/* line 496, ../sass/_slides.scss */
#marcommWhoWeAre {
  border: 3px solid #78b761;
}
/* line 498, ../sass/_slides.scss */
#marcommWhoWeAre .content {
  height: 300px;
  left: 40px;
  margin-top: -150px;
}

/* line 506, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn {
  width: 140px;
  text-align: center;
}
/* line 510, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn .gridItemWrapper .gridItem {
  background: url("../images/content/headshot_sprite.jpg") no-repeat;
}
/* line 512, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn .gridItemWrapper .gridItem.christine_curtin {
  background-position: 0px 0px;
}
/* line 515, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn .gridItemWrapper .gridItem.eric_kome {
  background-position: -120px 0px;
}
/* line 518, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn .gridItemWrapper .gridItem.esther_podany {
  background-position: -240px 0px;
}
/* line 521, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn .gridItemWrapper .gridItem.gary_gnade {
  background-position: -360px 0px;
}
/* line 524, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn .gridItemWrapper .gridItem.katie_finney {
  background-position: -480px 0px;
}
/* line 527, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn .gridItemWrapper .gridItem.kevin_young {
  background-position: -600px 0px;
}
/* line 530, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn .gridItemWrapper .gridItem.michelle_maloof {
  background-position: -720px 0px;
}
/* line 533, ../sass/_slides.scss */
.whoWeAreContent .headshotColumn .gridItemWrapper .gridItem.robin_brophy {
  background-position: -840px 0px;
}
/* line 539, ../sass/_slides.scss */
.whoWeAreContent .plusColumn {
  color: #78b761;
  font-size: 60px;
  font-weight: 100;
  padding: 25px;
}
/* line 545, ../sass/_slides.scss */
.whoWeAreContent .directReportsColumn {
  width: 300px;
}
/* line 547, ../sass/_slides.scss */
.whoWeAreContent .directReportsColumn .directReport {
  display: inline-block;
  margin: 0 8px 8px 0;
}
/* line 551, ../sass/_slides.scss */
.whoWeAreContent .directReportsColumn .directReport .gridItemWrapper .gridItemSpacer {
  width: 50px;
  height: 50px;
}
/* line 555, ../sass/_slides.scss */
.whoWeAreContent .directReportsColumn .directReport .gridItemWrapper .gridItemBorder {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1.75px solid white;
  border-radius: 14.5px;
  padding: 3px;
}
/* line 562, ../sass/_slides.scss */
.whoWeAreContent .directReportsColumn .directReport .gridItemWrapper .gridItemBorder .gridItem {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 12.5px;
  overflow: hidden;
}
/* line 568, ../sass/_slides.scss */
.whoWeAreContent .directReportsColumn .directReport .gridItemWrapper .gridItemBorder .gridItem span, .whoWeAreContent .directReportsColumn .directReport .gridItemWrapper .gridItemBorder .gridItem a, .whoWeAreContent .directReportsColumn .directReport .gridItemWrapper .gridItemBorder .gridItem img {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #78b761;
  background-size: contain;
}
/* line 575, ../sass/_slides.scss */
.whoWeAreContent .directReportsColumn .directReport .gridItemWrapper .gridItemBorder .gridItem a {
  cursor: pointer;
}

/* line 3, ../sass/_modal.scss */
.ngdialog {
  pointer-events: auto;
}

/* line 7, ../sass/_modal.scss */
.ngdialog-overlay {
  background: rgba(0, 0, 0, 0.7);
}

/* line 11, ../sass/_modal.scss */
.ngdialog-content {
  max-width: 960px;
  max-height: 740px;
  padding: 0;
  overflow: auto;
}
/* line 16, ../sass/_modal.scss */
.ngdialog-content .table {
  width: 100%;
  height: 100%;
}
/* line 20, ../sass/_modal.scss */
.ngdialog-content .table .td.imgCell {
  width: 100%;
  background-color: #000;
}
/* line 23, ../sass/_modal.scss */
.ngdialog-content .table .td.imgCell img {
  margin: 2em 0;
}
/* line 26, ../sass/_modal.scss */
.ngdialog-content .table .td.imgCell a:hover {
  background: none;
}
/* line 30, ../sass/_modal.scss */
.ngdialog-content .table .td.captionCell {
  text-align: center;
}
/* line 32, ../sass/_modal.scss */
.ngdialog-content .table .td.captionCell .caption {
  margin: 0;
  display: block;
  width: 100%;
  padding: 0.5em;
  color: #aaaaaa;
  border-top: 1px dotted #666666;
  max-height: 50px;
}
/* line 41, ../sass/_modal.scss */
.ngdialog-content .table .td.captionCell .modalBody {
  display: block;
  width: 100%;
  font-size: 80% !important;
  line-height: 150%;
  margin: 1em auto;
}
/* line 47, ../sass/_modal.scss */
.ngdialog-content .table .td.captionCell .modalBody * {
  margin: 0 auto;
}
/* line 50, ../sass/_modal.scss */
.ngdialog-content .table .td.captionCell .modalBody h4 {
  color: #78b761;
}
/* line 53, ../sass/_modal.scss */
.ngdialog-content .table .td.captionCell .modalBody p, .ngdialog-content .table .td.captionCell .modalBody h4 {
  text-align: left;
  max-width: 770px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
/* line 59, ../sass/_modal.scss */
.ngdialog-content .table .td.captionCell .modalBody ul {
  text-align: left;
  max-width: 770px;
}
/* line 62, ../sass/_modal.scss */
.ngdialog-content .table .td.captionCell .modalBody ul li {
  margin-left: 2em;
}

/* line 143, ../sass/roadshow.scss */
.impress-wrapper * {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
